
		.navMenu{
display: none;
}
*{
	box-sizing: border-box;
}
body, .homeContainer{
	margin:0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.homeContainer .navContainer{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    border: 1px solid black;
}
/*.homeContainer .navContainer .logo{
    background-image: url('images/logo.jpeg');
    background-size: 100%;
    min-width: 100%;
    min-height: 1em;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.1em;
}*/
.homeContainer .navContainer .logo img{
	width: 7em;
	height: 4em;
}
.homeContainer .navContainer .navBar{
    background-color:rgb(16, 16, 112);
}
.homeContainer .navContainer .navBar ul{
    margin-top: 0.75em;
}
.homeContainer .navContainer .navBar ul li{
    display: inline-block;
    color: white;
    font-size: 0.8em;
    margin-left: 2%;
}
.homeContainer .navContainer .navBar ul li a{
    text-decoration: none;
    color: white;
}
.homeContainer .navContainer .navBar ul li a:hover{
    border-bottom: 1px solid white;
    color: yellow;
}
.homeContainer .navContainer .signup{
	background-color:white;
	z-index: 10;
	opacity: 0.8;
}
.homeContainer .navContainer .signup #signup{
    margin: 1em auto;
    background-color: white;
    text-decoration: none;
}
.homeContainer .navContainer .signup #signup{
    text-align: center;
}
.homeContainer .navContainer .login h4 a{
    text-decoration: none;
    color: white;
    margin-left: 1.5em;
}
.homeContainer .navContainer .login{
	opacity: 0.8;
	z-index: 10;
    background-color:rgb(16, 16, 112);
}
.homeContainer .navContainer .login h4 a:hover{
    color: yellow;
    border-bottom: 2px solid white;
}
.homeContainer .navContainer .signup #signup a{
    text-decoration: none;
}
.homeContainer .navContainer .signup a:hover{
    color: rgb(233, 136, 10);
}

.elixirBars, .elixirCousines, .elixirLaundry{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
}
.homeContainer .elixirRooms figure img{
	width: 100%;
	height: 80%;
}
.homeContainer .elixirRooms figure{
	position: relative;
}
.homeContainer .elixirRooms figure h2{
	position: absolute;
	top: 33%;
	left: 35%;
	opacity: 0.8;
	background-color: purple;
	color: white;
	padding: 2em 4em;
}
.homeContainer .elixirRooms .showMore{
	float:right;
	margin-right: 2.5em;
	background-color: darkblue;
	padding: 1em 2em;
	margin-top: -2em;
	text-decoration: none;
	color: white;
}
.homeContainer .elixirRooms p{
	margin-left: 2.5em;
	font-style: italic;
}
.homeContainer .elixirRooms figcaption{
	font-family: cursive;
	font-size: 1.5em;
	font-weight: bold;
}
.homeContainer .elixirBars .elxBarTitle h3{
	margin-left: 15%;
	font-family: cursive;
	font-size: 1.5em;
	font-weight: bold;
}

.homeContainer .elixirBars .elxBarTitle #elixBarProvide{
	margin-left: 15%;
	font-style: italic;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
}
.homeContainer .elixirBars .elxBarTitle #showCont{
	margin-left: 12em;
	line-height: 20em;
}
.homeContainer .elixirBars .elxBarTitle #showCont a{
	text-decoration: none;
	color: white;
	background-color: darkblue;
	padding: 1em 2em;
	font-style: italic;
}
.homeContainer .elixirCousines .elxCousinesTitle h3{
	margin-left: 15%;
	font-family: cursive;
	font-size: 1.5em;
	font-weight: bold;
}
.homeContainer .elixirCousines .elxCousinesTitle #elixBarProvide{
	margin-left: 15%;
	font-style: italic;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
}
.homeContainer .elixirCousines .elxCousinesTitle #showCont{
	margin-left: 16em;
	line-height: 20em;
}
.homeContainer .elixirCousines #showCont a{
	text-decoration: none;
	color: white;
	background-color: darkblue;
	padding: 1em 2em;
	font-style: italic;
}
.homeContainer .elixirLaundry .elxLauTitle h3{
	margin-left: 15%;
	font-family: cursive;
	font-size: 1.5em;
	font-weight: bold;
}
.homeContainer .elixirLaundry .elxLauTitle #elixLauProvide{
	margin-left: 15%;
	font-style: italic;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
}
.homeContainer .elixirLaundry .elxLauTitle #showCont{
	margin-left: 16em;
	line-height: 20em;
}
.homeContainer .elixirLaundry #showCont a{
	text-decoration: none;
	color: white;
	background-color: darkblue;
	padding: 1em 2em;
	font-style: italic;
}
.homeContainer footer{
	padding-top: 5em;
	text-align: center;
	background-color: black;
	color: white;
	opacity: 0.85;
}
.barCont, .lauCont{
	padding-left:4em;
}
.cousineCont{
	padding-right: 4em;
}

@media screen and (max-width: 768px){
	.elixirBars, .elixirCousines, .elixirLaundry{
	display: grid;
	grid-template-columns: 1fr;
	height: 100%;
}
.elixirCousines .foodImg{
grid-area: cousine;
}
.elixirCousines .elxCousinesTitle{
	grid-area: cousineTitle;
	z-index: 10;
}
.homeContainer .elixirRooms figure h2{
	position: absolute;
	top: 33%;
	left: 12%;
	opacity: 0.8;
	background-color: purple;
	color: white;
	padding: 2em 4em;
	font-size: 1.2em;
}
img{
	min-width: 100vw;
padding-right: 0;
}
.elixirCousines{
	grid-template-areas: 
	'cousine'
	'cousineTitle'
	;
}
.navMenu{
    display: inline-block;
    color: white;
    border: 3px solid gold;
    padding: 5px 5px;
    margin-left: 10px;
}
.navMenu:hover{
cursor: pointer;
background-color: rgb(29, 17, 17);
}
.homeContainer .navContainer .login h4{
    text-align: center;
    margin-left: -25px;}
.homeContainer .navContainer .logo{
        grid-area: mainLogo;
        height: 10em;
        opacity: 0.9;
        background-size: cover;
    }

	.homeContainer .elixirRooms .showMore{
	float: none;
	margin-right: 2.5em;
	background-color: darkblue;
	padding: 0.15em 0.5em;
	text-decoration: none;
	color: white;
	line-height: 1em;
}
.homeContainer .elixirLaundry #showCont a,
.homeContainer .elixirCousines #showCont a,
.homeContainer .elixirBars .elxBarTitle #showCont a{
	padding: 0.15em 0.5em;
	margin-right: 0.5em;
}
.homeContainer .elixirLaundry #showCont a{
	margin-left: -40%;
}
.homeContainer .elixirBars .elxBarTitle #showCont a{
	margin-left: -5%;
}
.homeContainer .elixirCousines #showCont a{
	margin-left: -40%;
	line-height: 20em;
}
.homeContainer .elixirLaundry img,
.homeContainer .elixirCousines img,
.homeContainer .elixirBars img {
	height: 500%;
	z-index: 30;
}
.homeContainer .navContainer .navBar{
    grid-area: navBar;
}
.homeContainer .navContainer .signup{
    grid-area: signUp;
}
.homeContainer .navContainer .login{
    grid-area: login;
}
    .homeContainer .navContainer{
    display: grid;
    grid-template-areas:
     'navBar'
     'mainLogo'
     'logo'
     'signUp'
     'login';
    border: 1px solid black;
    }
    .homeContainer .navContainer .navBar{
        width: 100vw;
    }
    .homeContainer .navContainer .navBar ul li{
    display: block;
    margin-top: 5px;
    font-size: 13px;
    height: 100%;
}
.homeContainer .navContainer .navBar ul {
    margin-left: -35px;
}
.navList{
    display: none;
}
.barCont, .lauCont{
	padding-left:0;
}
.cousineCont{
	padding-right: 0;
}
.homeContainer .elixirRooms figure img{
	margin-left: -3em;
}
.homeContainer .navContainer .logo img{
	width: 7em;
	height: auto;
}
.elixirCousines .elxCousinesTitle,.homeContainer .elixirBars .elxBarTitle,.homeContainer .elixirLaundry .elxLauTitle{
	color: white;
	font-weight: 830;
	margin-right: 10%;
	}
}
footer{
	height: 40%;
}
